/*
 * Globals
 */

body {
  font-family: 'Microsoft YaHei','Lato', sans-serif;
  color: #555;
  background-color:#F2F2F2;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Lato Light 300', sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */




.container {
/*border-radius:6px;*/
max-width:100%;
background-color:#fff;
margin-top:30px;
margin-bottom:30px;
box-shadow: 1px 1px 10px #BBB;
}


@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.left {
	float:left;
}

.right {
	float:right;
}

/*click*/
a{
  color:#2f2f2f;
  border-bottom: 1px dotted;
}

a:hover,a:focus{
  color:#669900;
  text-decoration:none;
  border-bottom: 1px dotted;
}

a:focus{
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;
}

.entry a{
  color:#DD1144;
  border-bottom: 1px dotted;
}

.entry a:hover,a:focus{
  color:#669900;
  text-decoration:none;
  border-bottom: 1px dotted;
}

::selection {
    background:#669900; 
    color: #fff; 
    text-shadow: none;
}

::-moz-selection {
    background:#669900; 
    color: #fff; 
    text-shadow: none;
}

::-webkit-selection {
    background:#669900; 
    color: #fff; 
    text-shadow: none;
}



.blog-title,.lead,.blog-description h1{
   text-align: center;
}

.blog-title h1{
   color:#2583ad;
}
.blog-title  a{
  color:#2583ad;
}

.navbar-static-top {
  margin-bottom: 19px;
  background:transparent;
  border-top:1px solid #e5e5e5;

}



.navbar-default .navbar-nav > li > a{
  color:#2f2f2f;
  text-decoration: none;
  border-bottom: none;
}


.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  background-color: #e5e5e5;
  color: #000;
}


p, div ,span {
    font-family: 'Lato Light 300', sans-serif;
}

.navbar-nav {
text-align:center;
} 

/*new*/

q:before {
  content: '『';
  color: #DD1144;
  font-weight:bold;
}
q:after {
  content:'』';
  color: #DD1144;
  font-weight:bold;
}


div.label-anchor {
	float: left;
	width: 0;
}

a.label-anchor {
	position: relative;
	display: block;
	text-align: right;
	left: -60px;
    top: -25px;
    padding-top: 30px;
	font-family: 'PT Sans', sans-serif;
}
a.label-anchor:target span {
    background-color: #b94a48;
}
a.label-anchor:hover {
	text-decoration: none;
}
a.label-anchor span {
	font-size: 1.em;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #666;
	padding: 1px 4px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

